{% extends "layout.html" %}
{% block content %}

    <img src="{{image_1}}" width="600" class=""/>
    <img src="{{image_2}}" form="dawg" idth="600" class=""/>

    <br/>
    <br/>

    <div class="card text-center">
        <div class="card-header" style="color:black">
          <b style="color:maroon">Live Classification</b>
        </div>
        <div class="card-body">
          <h4 class="card-title" style="color:black">Are these two photos of the same langur?</h4>
          <form action="{{ url_for('submit') }}" method="post" class="form-check-inline">
    
              {% for opt in options %}
              <div class="form-check">
              <label class="form-check-label" style="color:black">
                <input type="radio" class="form-check-input" name="classification" value='{{opt}}'> {{opt}}
              </label>
              </div>
              {% endfor %}
              <input type="hidden" name="image_1" value="{{image_1}}" />
              <input type="hidden" name="image_2" value="{{image_2}}" /> <br/>
              <input type="submit" class="btn btn-success btn-block bigger">
            </form>
        </div>
      </div>

{% endblock %}