{% extends "layout.html" %}
{% block content %}

<br/>
<br/>

<div class="card" style="color:black">
    <div class="card-body">
      <h4 class="card-title">Photo Credits</h4>
      <h6 class="card-subtitle mb-2 text-muted">We would like to thank the following for their contributions to the project</h6>
      <br/>
      <p class="card-text">
        Photos are from Andie Ang and Sabrina Jabbar, with generous contributions from: <br/><br/>
        Chris Ang <br/>
        Ang Soh Hoon <br/>
        Ian Chew <br/>
        Angela Chua <br/>
        James Chua <br/>
        Peter Chua <br/>
        Vilma D'Rozario <br/>
        Elias Filho <br/>
        Angela Foulsham <br/>
        Alex Fok <br/>
        Max Khoo <br/>
        Christopher Koh <br/>
        Lee Hwa Guan <br/>
        Ng Bee Choo <br/>
        Dickson Ng <br/>
        Ng Ling Hoong <br/>
        Michael Ng <br/> 
        Elliott Ong <br/>
        Rachel and Ruixiang <br/>
        Jensen Seah <br/>
        Sia Sin Wei <br/>
        Claudia Tan <br/>
        Molly Tan <br/>
        Terence Tan <br/>
        Teo Hui Min <br/>
        Jeff Teo <br/>
        Then Chih Wey <br/>
        Toh Teaw Kuan <br/>
        Alvin Wong <br/>
        Abel Yeo <br/>
        Zhang Yuzhe <br/>
      </p>
    </div>
</div>

{% endblock %}