<!doctype html>
<html lang="en">
    <head>
        <title>Raffles Banded Langur classifications</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom.css') }}">
        <style>
            html,
            body {
            background-image: url("{{ url_for('static',filename='background2.jpeg') }}");
            color:#fff;
            }
        </style>

    </head>

    <body>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                    <a class="navbar-brand" href="#">Raffles Banded Langur App</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
              
                    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        {% if session['logged_in'] == True %}
                        <li class="nav-item">
                                <a class="nav-link" href="/training">Training</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/classify">Live Classification</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('logout') }}"> <input type="button" class="btn btn-warning" value="Logout"> </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                                <a href="/signup"> <input type="button" class="btn btn-success" value="Sign up!"> </a>
                        </li>
                        {% endif %}
                    </div>
                  </nav>
        <br/>
        <main role="main" class="container">
            
                  <div class="starter-template">
                    {% if session['logged_in'] == True %}
                        <h2 class="cover-heading">Hello {{ session['username'] }}!</h2>
                    {% else %}
                        <h2 class="cover-heading">Hello passionate Raffles Banded Langur volunteer!</h2>
                    {% endif %}
                    {% block content %}
                    {% endblock %}
                  </div>
            
                </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
    </body>

</html>