<!--{% extends "layout.html" %}-->
{% block content %}

        {% if session['logged_in'] != True %}
        <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <p class="lead small">Please Sign in to Continue</p>
              <form action="" method="post">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input class="form-control" type="text" placeholder="Username" name="username" value="{{
                    request.form.username }}">
                  <label for="password">Password</label>
                  <input class="form-control" type="password" placeholder="Password" name="password" value="{{
                    request.form.password }}">
                  <br/>
                  <input class="btn btn-primary btn-block big" class="btn btn-light" type="submit" value="Login" >
                </div>
              </form>
            <br/>

            <div class="alert alert-primary" role="alert">
                Not a member? <a href={{url_for('signup')}}>Sign Up</a>
            </div>

            {% endif %}

            {% if error %}
            <div class="alert alert-danger" role="alert">
                <strong>Error:</strong> {{ error }}
            </div>
            {% endif %}

            {% if get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">
            {% for message in get_flashed_messages() %}
              {{message}}
            {% endfor %}
            </div>
            {% endif %}

          </div>
          <div class="col-2"></div>
          </div>
        </div>

{% endblock %}
