<head>
    <title>Raffles Banded Langur classifications</title>
</head>
<body>
    <h1>Hello passionate Raffles Banded Langur volunteer!</h1>
    <p>It is currently {{ time }}.</p>

    <img src="{{ url_for('static', filename=image_1 + '.jpg') }}" height="300" width="300"/>
    <img src="{{ url_for('static', filename=image_2 + '.jpg') }}" height="300" width="300"/>

    <p>Are these two photos of the same langur? </p>

    {% for opt in options %}
      <input type="button" value="{{opt}}" onclick="document.getElementById('answer').innerHTML = '{{image_1|safe}}'[0]=='{{image_2|safe}}'[0] ? 'The same!' : 'Different langurs';">
    {% endfor %}

    <div id="answer"> And the answer is ... </div>

    <div>
      <a href="{{ url_for('training') }}"> <input type="button" value="Next"> </a>
    </div>

    <div>
      <a href="{{ url_for('classify') }}"> <input type="button" value="I'm ready to start classifying!"> </a>
    </div>
</body>
